.menu{
    float: left;
    border: solid black 1px;
    height: 35px;
    list-style:none;
    margin:0;
    padding:0;
    background-color: orange;
    width: 100%;
}
.menu li{
    display: inline-block;
    position:relative;
    top: 7px;
    margin-left:8px;
    padding:0px;
    list-style-type: none;
}
.asir{
    position: absolute;
}
.menu li a{
    display:block;
    background-color: white;
    text-decoration:none;
    padding-left: 15px;
    padding-right: 15px;
}
.menu li a:hover{
    background:black;
    color: white;
}
.menu ul{
    display:none;
    position: absolute;
    top:14px;
    left:-8px;
    padding: 0px;
}
.menu ul li a{
    border: solid black 1px;
    width: 180px;
    box-sizing: border-box;
}
.menu li:hover > ul{
    display:block;
}
